.start-panel {
    display: grid;
    grid-template-columns: 50px minmax(170px, auto) 1fr;
    gap: 5px;
}
.start-panel__icons {

}
.start-panel__grid {

}
.apps--office {

}
.apps--web {

}
.apps--other {

}
.apps__grid {

}
.app--g2x2 {

}
.app--g2x1 {

}
.app--g1x2 {

}
.app--off-3 {

}
.app--off-4 {

}
.app--off-5 {

}
.app--in-3 {

}
.app--fun-2 {

}
.app--fun-3 {

}